.nav{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: rgb(231, 252, 251);
    
}

.navbar a{
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    color:black;
}

.navbar a:hover{
    color:tomato;
}