.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-bottom: 50px;
    
}
.shoping-cart{
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    padding-left: 105px;
    padding-top: 100px;
    padding-right: 85px;
    gap:40px;
}