.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-bottom: 50px;
    background-color: rgb(240, 244, 248);
}
.shoping-cart{
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    padding-left: 105px;
    padding-top: 100px;
    padding-right: 85px;
    gap:40px;
}

.order-cart{
    background-color:rgb(233, 232, 232) ;
}

@media  screen and (max-width:750px) {
    .shoping-cart{
        grid-template-columns: repeat(1,1fr);
    }
};